<div id="employer_details">
    <div class="employer_details">
     <!--<table border="1" style="width:660px">-->
         <!--<col width="110px" />-->
         <!--<col width="110px" />-->
         <!--<col width="110px" />-->
         <!--<col width="110px" />-->
         <!--<col width="110px" />-->
         <!--<col width="110px" />-->
        <!--<tr></tr>-->
        <!--<td><a> {{employer.employer_name }}</a></td>-->
        <!--<td>{{employer.num_ratings }}</td>-->
        <!--<td>{{employer.score }}</td>-->
        <!--<td>{{employer.ceo_name}}</td>-->
        <!--<td>{{employer.num_ceo_review}}</td>-->
        <!--<td>{{employer.ceo_approval}}</td>-->
     <!--<table>-->
     <table class="table table-striped">
            <col width="110px" />
            <col width="110px" />
            <col width="110px" />
            <col width="110px" />
            <col width="110px" />
            <col width="110px" />
         <tr>
            <td><a> {{employer.employer_name }}</a></td>
            <td>{{employer.num_ratings }}</td>
            <td>{{employer.score }}</td>
            <td>{{employer.ceo_name}}</td>
            <td>{{employer.num_ceo_review}}</td>
            <td>{{ employer.ceo_approval }}</td>
         </tr>
     </table>
    </div>
</div>