{% extends "base.html" %}
{% block navbar %}
    <div>
        <div id="logo" class="left-side">
            <img src="/static/images/careerMedley.png" class="image" >
        </div>
    </div>
    <nav class="navbar navbar-inverse " role="navigation">
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('user',nickname = user.nickname) }}">Home</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle"
                       href="#">Profile <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">View/Edit Profile</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle"
                       href="#">Documents <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Upload a document</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle"
                       href="#">Applications <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Active applications</a></li>
                        <li><a href="#">Past applications</a></li>
                    </ul>
                </li>
                <li><a href="#">Saved Positions</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle"
                       href="#">Employers <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Employers search</a></li>
                        <li><a href="#">Favorite employers</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
            </ul>
            <div class="nav navbar-nav navbar-right user_color">
                <a class="navbar-brand" id="user_color" href="#">Hi, {{user.nickname}}!</a>
            </div>
        </div>
    </nav>
    <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form action="" method=post enctype=multipart/form-data>
        <p><input type=file name=file>
          <input type=submit value=Upload>
    </form>
    {% for file in upload_folder_files %}
    <p>
        {{file}}</b>
    </p>
{% endfor %}

{% endblock %}