{% extends "base.html" %}
{% block navbar %}
    <div>
        <div id="logo" class="left-side">
            <img src="/static/images/careerMedley.png" class="image" >
        </div>
    </div>
    <nav class="navbar navbar-inverse " role="navigation">
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('user',nickname = user.nickname) }}">Home</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle"
                       href="#">Profile <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="{{url_for('profile',nickname = user.nickname) }}">View/Edit Profile</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle"
                       href="#">Documents <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Upload a document</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle"
                       href="#">Applications <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Active applications</a></li>
                        <li><a href="#">Past applications</a></li>
                    </ul>
                </li>
                <li><a href="#">Saved Positions</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle"
                       href="#">Employers <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Employers search</a></li>
                        <li><a href="{{ url_for('favorite_employers', nickname = user.nickname) }}">Favorite employers</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
            </ul>
            <div class="nav navbar-nav navbar-right user_color">
                <a class="navbar-brand" id="user_color" href="#">Hi, {{user.nickname}}!</a>
            </div>
        </div>
    </nav>
{% endblock %}

<!-- Modify bootstrap's body content with ours -->
{% block top %}
        <div class="row">
            <div class="col-xs-2">
                <h2>News</h2>
                <p>HTML is a markup language that is used for creating web pages. The HTML tutorial section will help you understand the basics of HTML, so that you can create your own web pages or website.</p>
                <p><a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
            </div>
            <div class="col-xs-8">
                <h2 class="center">Job Search</h2>
                <div>
                    <form class="form-horizontal" method="POST" name="user">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.job(class="form-control", id="job search", placeholder="Job Title, Keywords") }}
                            {% for error in form.errors.job %}
                                <span style="color: red;">[{{error}}]</span>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            {{ form.location(class="form-control", id="location", placeholder="Location") }}
                            {% for error in form.errors.location %}
                                <span style="color: red;">[{{error}}]</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.search(class="btn btn-primary") }}
                        </div>
                    </form>
                    {% if jobs %}
                        {% for job in jobs %}
                            {% include 'job_search_results.html' %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-2">
                <h2>Bootstrap</h2>
                <p>Bootstrap is a powerful front-end framework for faster and easier web development. The Bootstrap tutorial section will help you learn the techniques of Bootstrap so that you can quickly create your own website.</p>
                <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
            </div>
        </div>
{% endblock %}
